In [1]:
import pandas as pd
import numpy as np

In [8]:
people = {
    'first': ['Kate', 'Jane', 'John', 'Chris', np.nan, None, 'NA'],
    'last': ['Smith', 'Doe', 'Doe', 'Smith', np.nan, np.nan, 'Missing'],
    'email': ['Kate@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [9]:
df = pd.DataFrame(people)

In [10]:
df

   first     last                email      age
0   Kate    Smith       Kate@email.com       33
1   Jane      Doe    JaneDoe@email.com       55
2   John      Doe    JohnDoe@email.com       63
3  Chris    Smith                 None       36
4    NaN      NaN                  NaN     None
5   None      NaN  Anonymous@email.com     None
6     NA  Missing                   NA  Missing