In [31]:
people = {
    'first': ['Kate', 'Jane', 'John'],
    'last': ['Doe', 'Doe', 'Doe'],
    'email': ['Kate@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [32]:
import pandas as pd

In [33]:
df = pd.DataFrame(people)

In [34]:
df

  first last              email
0  Kate  Doe     Kate@email.com
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [35]:
df['email']

0       Kate@email.com
1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [36]:
df.email

0       Kate@email.com
1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [37]:
df[['last', 'email']]

  last              email
0  Doe     Kate@email.com
1  Doe  JaneDoe@email.com
2  Doe  JohnDoe@email.com

In [38]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [39]:
# searching by index
df.iloc[0]

first              Kate
last                Doe
email    Kate@email.com
Name: 0, dtype: object

In [40]:
# searching by label
df.loc[[0, 1]]

  first last              email
0  Kate  Doe     Kate@email.com
1  Jane  Doe  JaneDoe@email.com

In [41]:
df.iloc[[0, 1], 2]

0       Kate@email.com
1    JaneDoe@email.com
Name: email, dtype: object

In [42]:
df.loc[[0, 1], 'email']

0       Kate@email.com
1    JaneDoe@email.com
Name: email, dtype: object

In [43]:
df.loc[[0, 1], ['email', 'last']]

               email last
0     Kate@email.com  Doe
1  JaneDoe@email.com  Doe

In [44]:
df.set_index('email')

                  first last
email
Kate@email.com     Kate  Doe
JaneDoe@email.com  Jane  Doe
JohnDoe@email.com  John  Doe

In [45]:
df

  first last              email
0  Kate  Doe     Kate@email.com
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [46]:
df.set_index('email', inplace=True)

In [47]:
df

                  first last
email
Kate@email.com     Kate  Doe
JaneDoe@email.com  Jane  Doe
JohnDoe@email.com  John  Doe

In [48]:
df.index

Index(['Kate@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [49]:
df.loc['Kate@email.com']

first    Kate
last      Doe
Name: Kate@email.com, dtype: object

In [50]:
df.loc[0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>