In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [9]:
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [14]:
high_salary = (df['ConvertedComp'] > 70000)

In [13]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith','ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [15]:
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
filt = df['Country'].isin(countries)

In [16]:
df.loc[filt, ['Country', 'LanguageWorkedWith','ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
1,United Kingdom,HTML/CSS;Java;JavaScript;Python,NaN
4,United States,C;C++;C#;Python;SQL,61000.0
6,Canada,Java;R;SQL,366420.0
8,India,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,NaN
10,India,C#;Go;JavaScript;Python;R;SQL,13293.0
...,...,...,...
85642,United States,Go;HTML/CSS,NaN
85961,United Kingdom,C;C++;Other(s):,NaN
86012,India,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript,NaN
88282,United States,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...,NaN
88377,Canada,HTML/CSS;JavaScript;Other(s):,NaN

In [18]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)
df.loc[filt, ['Country', 'LanguageWorkedWith','ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
1,United Kingdom,HTML/CSS;Java;JavaScript;Python,NaN
2,Bosnia and Herzegovina,C++;HTML/CSS;Python,NaN
4,United States,C;C++;C#;Python;SQL,61000.0
5,Ukraine,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,NaN
8,India,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,NaN
...,...,...,...
84539,United Kingdom,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,NaN
85738,Brazil,Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):,NaN
86566,Switzerland,Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):,NaN
87739,Czech Republic,C;C++;HTML/CSS;JavaScript;PHP;Python;SQL,NaN
88212,Spain,HTML/CSS;JavaScript;Python,NaN

In [19]:
filt

Respondent
1         True
2         True
3        False
4         True
5         True
         ...
88377    False
88601    False
88802    False
88816    False
88863    False
Name: LanguageWorkedWith, Length: 88883, dtype: bool