In [18]:
people = {
    'first': ['Kate', 'Jane', 'John'],
    'last': ['Doe', 'Doe', 'Doe'],
    'email': ['Kate@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame(people)

In [21]:
df

  first last              email
0  Kate  Doe     Kate@email.com
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [22]:
df['email']

0       Kate@email.com
1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [23]:
df.email

0       Kate@email.com
1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [24]:
df[['last', 'email']]

  last              email
0  Doe     Kate@email.com
1  Doe  JaneDoe@email.com
2  Doe  JohnDoe@email.com

In [25]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [26]:
# searching by index
df.iloc[0]

first              Kate
last                Doe
email    Kate@email.com
Name: 0, dtype: object

In [27]:
# searching by label
df.loc[[0, 1]]

  first last              email
0  Kate  Doe     Kate@email.com
1  Jane  Doe  JaneDoe@email.com

In [28]:
df.iloc[[0, 1], 2]

0       Kate@email.com
1    JaneDoe@email.com
Name: email, dtype: object

In [29]:
df.loc[[0, 1], 'email']

0       Kate@email.com
1    JaneDoe@email.com
Name: email, dtype: object